@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap');
@font-face {
    font-family: Nateli;
    src: url(./fonts/bpg_nateli.ttf);
}

body {
    margin: 0;
    background-color: #36454f;
}

a {
    text-decoration: none;
}

table,
td {
    border-spacing: 0;
    padding: 0;
}

div:focus {
    outline: 0;
}

#map {
    height: 500px;
}

.list {
    position: absolute;
    left: 0;
    top: 100px;
    z-index: 1000;
    margin: auto;
    width: 1500px;
    height: 900px;
}

.ticket_container {
    /* width: 300px; */
    vertical-align: bottom;
}

.ticket {
    margin: 0 auto;
    width: 200px;
    height: 700px;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 20px 20px 20px;
    transition: width 500ms, height 500ms, box-shadow 500ms;
}

.ticket_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 300;
    color: #F9A602;
}

.ticket hr {
    margin: 0;
    border: none;
    height: 1px;
    background-color: #F9A602;
}

.car_categories_list {
    margin: 20px 0;
    border-spacing: 5px;
}

.car_category {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: #F9A602;
    text-align: center;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #000000;
}

.phone_container {
    margin: 20px 0;
    border-spacing: 5px;
}

.phone_pic {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: #F9A602;
    background-image: url('./images/phone.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px 25px;
}

.phone_number {
    height: 30px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #F9A602;
}

.cities_list {
    margin-bottom: 25px;
    border-spacing: 5px;
}

.city {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #F9A602;
    text-align: center;
    vertical-align: middle;
    font-family: 'Nateli';
    font-size: 20px;
    font-weight: 300;
    color: #F9A602;
}

.city_1 {
    height: 30px;
    text-align: left;
    vertical-align: middle;
    font-family: 'Nateli';
    font-size: 20px;
    font-weight: 300;
    color: #F9A602;
}

.city_1 a {
    color: #F9A602;
}

.rise {
    width: 250px;
    height: 800px;
    box-shadow: 30px 30px 30px;
}

.rise_1 {
    width: 250px;
    height: 800px;
    box-shadow: 30px 30px 30px;
}